:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

body {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  font-family: var(--font-family-sans-serif);
  margin: 0;
  padding: 0;
}

button {
  -webkit-app-region: no-drag;
}

input {
  -webkit-app-region: no-drag;
}

.container {
  display: flex;
  flex-direction: column;
}
.search {
  flex: 1;
  outline: 0;
}
.commands {
  flex: 1;
}
.command {
  width: 100%;
}
.command.selected {
  font-weight: bold;
}