html,
body {
  background: none;
}

:root {
  --font-family-sans-serif-regular: "Nunito Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    sans-serif;
  --font-family-sans-serif-semibold: "Nunito Semibold", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    sans-serif;
  --font-family-sans-serif-bold: "Nunito Bold", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "Fira Code Medium", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --element-background: rgb(0, 0, 0);
  --element-border: rgb(0, 0, 0);
  --element-text: rgb(255, 255, 255);
  --element-text-subtle: rgb(150, 150, 150);
  --element-active: rgb(95, 138, 234);
  --selection-background: rgb(255, 0, 140);
  --selection-foreground: rgb(255, 255, 255);
  --caret: rgb(106, 152, 255);
  --success-text: rgb(20, 222, 55);
  --green-background: rgba(0, 184, 148, 0.33);
  --green-border: rgb(0, 184, 148);
  --green-text: rgb(12, 211, 171);
  --yellow-background: rgba(228, 189, 19, 0.33);
  --yellow-border: rgb(228, 189, 19);
  --yellow-text: rgb(245, 206, 35);
  --red-background: rgba(206, 12, 87, 0.33);
  --red-border: rgba(206, 12, 87, 1);
  --red-text: rgb(228, 24, 102);
  --purple-background: rgba(86, 0, 184, 0.33);
  --purple-border: rgb(86, 0, 184);
  --purple-text: rgb(103, 10, 209);
  --blue-background: rgba(37, 155, 233, 0.33);
  --blue-border: rgb(37, 155, 233);
  --blue-text: rgb(52, 174, 255);
  --pocket-dimension: rgb(255, 0, 140);
}

@font-face {
  font-family: "Nunito Regular";
  src: url("./fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito SemiBold";
  src: url("./fonts/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Bold";
  src: url("./fonts/Nunito-Bold.ttf") format("truetype");
}

body {
  -webkit-user-select: none;
  font-family: var(--font-family-sans-serif-semibold);
  color: var(--element-text);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-foreground);
}
::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-foreground);
}

.container {
  display: flex;
  flex-direction: column;
}
.alert {
  position: absolute;
  border: 2px solid var(--red-border);
  background: var(--red-background);
  color: var(--red-text);
  right: 0;
  padding: 0.3rem;
  border-radius: 0 0.33rem 0 0.33rem;
  animation: slideFromTop 0.4s ease-out 0s 1 normal forwards;
}
@keyframes slideFromTop {
  from {
    transform: translateY(-35px);
  }
  to {
    transform: translateY(0px);
  }
}
.search {
  flex: 1;
  outline: 0;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 3.5rem;
  border-radius: 0.33rem;
  background-color: var(--element-background);
  border: 2px solid var(--element-border);
  color: var(--element-text);
  caret-color: var(--caret);
}
.command-list {
  margin-top: -0.33rem;
  padding: 0 0 0.33rem 0;
  flex: 1;
  background-color: var(--element-background);
  border-radius: 0 0 0.33rem 0.33rem;
}
.command {
  padding: 0.65rem 0.5rem;
  transition: border-left 0.15s, padding-left 0.15s;
}
.command.selected {
  padding-left: 0.65rem;
  border-left: 3px solid var(--yellow-text);
  background-color: var(--element-active);
}
.command.selected .command-detail {
  color: var(--element-text);
}
.active-command {
  font-style: italic;
}
.command-logo {
  float: left;
  display: block;
  text-indent: -9999px;
  margin-right: 0.66rem;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.command-display-name {
  font-size: 1.4rem;
}
.command-detail {
  font-family: var(--font-family-sans-serif-regular);
  font-size: 0.87rem;
  color: var(--element-text-subtle);
}

/* Command specific */
/* JIRA */
.jira-component-container {
  display: flex;
  justify-content: flex-start;
  margin-top: -0.33rem;
  padding: 0 1rem 0.65rem 1rem;
  background-color: var(--element-background);
  border-radius: 0 0 0.33rem 0.33rem;
}
.jira-status {
  white-space: nowrap;
  align-self: center;
  text-align: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid var(--element-text-subtle);
  background-color: var(--element-background);
  color: var(--element-text-subtle);
  font-size: 1rem;
  font-weight: bold;
}
.jira-status.status-not-ready,
.jira-status.status-to-do {
  border-color: var(--red-border);
  background-color: var(--red-background);
  color: var(--red-text);
}
.jira-status.status-in-progress {
  border-color: var(--yellow-border);
  background-color: var(--yellow-background);
  color: var(--yellow-text);
}
.jira-status.status-code-review {
  border-color: var(--purple-border);
  background-color: var(--purple-background);
  color: var(--purple-text);
}
.jira-status.status-in-testing {
  border-color: var(--blue-border);
  background-color: var(--blue-background);
  color: var(--blue-text);
}
.jira-status.status-done {
  border-color: var(--green-border);
  background-color: var(--green-background);
  color: var(--green-text);
}
.jira-details {
  min-width: 0;
  margin: 0 1rem 0 0;
  padding: 0.2rem;
  font-size: 1.2rem;
}
.jira-issue-key {
  margin: 0 0 0.25rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.jira-issue-key-text {
  white-space: nowrap;
}
.jira-issue-summary {
  font-family: var(--font-family-sans-serif-regular);
  font-size: 0.9rem;
  color: var(--element-text-subtle);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jira-open-issue {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.jira-open-issue-icon {
  padding: 0.1rem 0.2rem;
  font-family: var(--font-family-sans-serif-bold);
  font-size: 1.2rem;
  color: var(--element-text);
  text-decoration: none;
  width: 2rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.copy-status {
  opacity: 0;
  margin-left: 1rem;
  font-size: 0.77rem;
  color: var(--green-text);
  white-space: nowrap;
  animation: fadein 0.2s linear 0.2s 1 normal forwards, fadeout 0.2s linear 1.5s 1 normal forwards;
}

/* vaporwave */
.vaporwave-component-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-top: -0.33rem;
  color: white;
  border-radius: 0 0 0.33rem 0.33rem;
  background: linear-gradient(-45deg, #f77a54, #ff68a2, #24b2e6, #29ecbf, #ffdf27);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

/* Inner most */
.vaporwave-window {
  opacity: 0;
  min-width: 55%;
  max-width: 66%;
  position: relative;
  font-size: 0px;
  background-color: #d4d0c8;
  border: 1px solid #d4d0c8;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.6);
  animation: fadein 0.25s linear 0.1s 1 forwards normal;
}

/* Middle */
.vaporwave-window:before {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
}

/* Outer most */
.vaporwave-window:after {
  content: " ";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-top: 1px solid #d4d0c8;
  border-left: 1px solid #d4d0c8;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}
.vaporwave-window-titlebar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #0a246a, #a6caf0);
}
.vaporwave-window-titlebar-left {
  display: flex;
}
.vaporwave-window-wupdate-icon {
  align-self: center;
  margin: 2px 3px 3px 2px;
}
.vaporwave-window-title-text {
  align-self: center;
}
.vaporwave-close-icon {
  justify-self: right;
  align-self: center;
  margin: 2px 3px 3px 2px;
}

.vaporwave-text {
  position: relative;
  margin: 6px 5px;
  padding: 10px;
  color: black;
  font-size: 0.9rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-bottom: 1px solid #d4d0c8;
  border-right: 1px solid #d4d0c8;
  line-height: 1rem;
}
.vaporwave-text:before {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.vaporwave-copy-status {
  flex: 1;
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.75rem;
  -webkit-font-smoothing: none;
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: -1px;
  font-weight: lighter;
  font-variant: small-caps;
  opacity: 0;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transform: translateX(-200px);
  animation: vaporwave-copy 0.3s ease-out 0.2s 1 forwards, fadeout 0.4s ease-out 1.66s 1 forwards;
}

/* Pocket Dimension */
.pocket-dimension-component-container {
  z-index: 1;
  position: relative;
  margin-top: -0.33rem;
  border-radius: 0 0 0.33rem 0.33rem;
  background-color: black;
  width: 720px;
  height: 80px;
}
.pocket-dimension-paper-container {
  display: flex;
  width: 100%;
  z-index: 0;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}
.pocket-dimension-paper {
  width: 0;
  height: 80px;
  border-radius: 0 0 0 0.33rem;
  background-color: var(--pocket-dimension);
  animation-name: scalein;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.pocket-dimension-url {
  opacity: 0;
  flex: 1;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  background-color: white;
  border: 2px solid var(--caret);
  border-radius: 0.33rem;
  font-size: 0.85rem;
  font-family: var(--font-family-sans-serif-bold);
  animation: fadein 0.5s linear 0.4s 1 normal forwards;
  transition: border-color 0.25s, backgrground-color 0.25s, color 0.25s;
}
.pocket-dimension-url.loading {
  border-color: var(--yellow-border);
  background-color: var(--yellow-background);
  color: var(--yellow-text);
  animation: pulse 1.33s linear 0s infinite normal forwards;
}
.pocket-dimension-url.success {
  opacity: 1;
  border-color: var(--green-border);
  background-color: var(--green-background);
  color: var(--green-text);
  transform-origin: right;
  animation: scaleaway 1.33s ease-in 0s 1 normal forwards;
}
.pocket-dimension-url.error {
  border-color: var(--red-border);
  background-color: var(--red-background);
  color: var(--red-text);
  animation: pulse 1.33s linear 0s infinite normal forwards;
}
.pocket-dimension-stars {
  z-index: -1;
  display: block;
  position: absolute;
  width: 720px;
  border-radius: 0 0 0.33rem 0.33rem;
  shape-rendering: crispEdges;
}

@keyframes vaporwave-copy {
  to {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes scalein {
  to {
    width: 40%;
  }
}

@keyframes translatein {
  to {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleaway {
  to {
    opacity: 0;
    transform: translateX(4rem);
    filter: blur(2px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
