html,
body {
  background: none;
}

:root {
  --font-family-sans-serif-normal: "Nunito", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
  --font-family-sans-serif-semibold: "Nunito Semibold", -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --font-family-sans-serif-bold: "Nunito Bold", -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "Fira Code Medium", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --element-background: rgb(0, 0, 0);
  --element-border: rgb(0, 0, 0);
  --element-text: rgb(255, 255, 255);
  --element-text-subtle: rgb(150, 150, 150);
  --element-active: rgb(106, 152, 255);
  --selection-background: rgb(255, 0, 140);
  --selection-foreground: rgb(255, 255, 255);
  --caret: rgb(106, 152, 255);
  --success-text: rgb(20, 222, 55);
  --green-background: rgba(0, 184, 148, 0.33);
  --green-border: rgb(0, 184, 148);
  --green-text: rgb(12, 211, 171);
  --yellow-background: rgba(228, 189, 19, 0.33);
  --yellow-border: rgb(228, 189, 19);
  --yellow-text: rgb(245, 206, 35);
  --red-background: rgba(206, 12, 87, 0.33);
  --red-border: rgba(206, 12, 87, 1);
  --red-text: rgb(228, 24, 102);
  --purple-background: rgba(86, 0, 184, 0.33);
  --purple-border: rgb(86, 0, 184);
  --purple-text: rgb(103, 10, 209);
  --blue-background: rgba(37, 155, 233, 0.33);
  --blue-border: rgb(37, 155, 233);
  --blue-text: rgb(52, 174, 255);
}

@font-face {
  font-family: "Nunito Normal";
  src: url("./fonts/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito SemiBold";
  src: url("./fonts/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Bold";
  src: url("./fonts/Nunito-Bold.ttf") format("truetype");
}

body {
  -webkit-user-select: none;
  font-family: var(--font-family-sans-serif-semibold);
  color: var(--element-text);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-foreground);
}
::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-foreground);
}

.container {
  display: flex;
  flex-direction: column;
}
.alert {
  position: absolute;
  border: 2px solid var(--red-border);
  background: var(--red-background);
  color: var(--red-text);
  right: 0;
  padding: 0.3rem;
  border-radius: 0 0.33rem 0 0.33rem;
  animation: slideFromTop 0.4s ease-out 0s 1 normal forwards;
}
@keyframes slideFromTop {
  from {
    transform: translateY(-35px);
  }
  to {
    transform: translateY(0px);
  }
}
.search {
  flex: 1;
  outline: 0;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 3.5rem;
  border-radius: 0.33rem;
  background-color: var(--element-background);
  border: 2px solid var(--element-border);
  color: var(--element-text);
  caret-color: var(--caret);
}
.command-list {
  margin-top: -0.33rem;
  padding: 0 0 0.33rem 0;
  flex: 1;
  background-color: var(--element-background);
  border-radius: 0 0 0.33rem 0.33rem;
}
.command {
  padding: 0.65rem 0.5rem;
}
.command.selected {
  background-color: var(--element-active);
}
.command.selected .command-detail {
  color: var(--element-text);
}
.active-command {
  font-style: italic;
}
.command-logo {
  float: left;
  display: block;
  text-indent: -9999px;
  margin-right: 0.66rem;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.command-logo.stop {
  fill: white;
  background: url(images/icon-stop.png);
  background-repeat: no-repeat;
}
.command-logo.jira {
  background: url(images/icon-jira.png);
}
.command-display-name {
  font-size: 1.4rem;
}
.command-detail {
  font-family: var(--font-family-sans-serif-normal);
  font-size: 0.9rem;
  color: var(--element-text-subtle);
}

/* Command specific */
/* JIRA */
.jira-component-container {
  display: flex;
  justify-content: flex-start;
  margin-top: -0.33rem;
  padding: 0 1rem 0.65rem 1rem;
  background-color: var(--element-background);
  border-radius: 0 0 0.33rem 0.33rem;
}
.jira-status {
  white-space: nowrap;
  align-self: center;
  text-align: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid var(--element-text-subtle);
  background-color: var(--element-background);
  color: var(--element-text-subtle);
  font-size: 1rem;
  font-weight: bold;
}
.jira-status.status-not-ready {
  border-color: var(--red-border);
  background-color: var(--red-background);
  color: var(--red-text);
}
.jira-status.status-in-progress {
  border-color: var(--yellow-border);
  background-color: var(--yellow-background);
  color: var(--yellow-text);
}
.jira-status.status-code-review {
  border-color: var(--purple-border);
  background-color: var(--purple-background);
  color: var(--purple-text);
}
.jira-status.status-in-testing {
  border-color: var(--blue-border);
  background-color: var(--blue-background);
  color: var(--blue-text);
}
.jira-status.status-done {
  border-color: var(--green-border);
  background-color: var(--green-background);
  color: var(--green-text);
}
.jira-details {
  min-width: 0;
  margin: 0 1rem 0 0;
  padding: 0.2rem;
  font-size: 1.2rem;
}
.jira-issue-key {
  margin: 0 0 0.25rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.jira-issue-key-text {
  white-space: nowrap;
}
.jira-issue-summary {
  font-family: var(--font-family-sans-serif-normal);
  font-size: 0.9rem;
  color: var(--element-text-subtle);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jira-open-issue {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.jira-open-issue-icon {
  padding: 0.1rem 0.2rem;
  font-family: var(--font-family-sans-serif-bold);
  font-size: 1.2rem;
  color: var(--element-text);
  text-decoration: none;
  width: 2rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.copy-status {
  opacity: 0;
  margin-left: 1rem;
  font-size: 0.77rem;
  color: var(--green-text);
  white-space: nowrap;
  animation: fadein 0.2s linear 0.5s 1 normal forwards,
    fadeout 0.2s linear 1.5s 1 normal forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
